<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug" additivity="false">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>

<!-- IF MULTI-FILE LOGGING LEVEL IS WISHED, COMMENT OUT ABOVE AND UNCOMMENT THE FOLLOWING -->
<!--

<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
<Properties>
<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
<Property name="APP_LOG_ROOT">c:/temp</Property>
</Properties>

<Appenders>
<Console name="Console" target="SYSTEM_OUT" follow="true">
	<PatternLayout pattern="${LOG_PATTERN}"/>
</Console>
<RollingFile name="frameworkLog" fileName="${APP_LOG_ROOT}/app-framework.log"
			 filePattern="${APP_LOG_ROOT}/app-framework-%d{yyyy-MM-dd}-%i.log">
	<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
	<PatternLayout pattern="${LOG_PATTERN}"/>
	<Policies>
		<SizeBasedTriggeringPolicy size="19500KB" />
	</Policies>
	<DefaultRolloverStrategy max="10"/>
</RollingFile>

<RollingFile name="debugLog" fileName="${APP_LOG_ROOT}/app-debug.log"
			 filePattern="${APP_LOG_ROOT}/app-debug-%d{yyyy-MM-dd}-%i.log">
	<LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
	<PatternLayout pattern="${LOG_PATTERN}"/>
	<Policies>
		<SizeBasedTriggeringPolicy size="19500KB" />
	</Policies>
	<DefaultRolloverStrategy max="10"/>
</RollingFile>

<RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/app-info.log"
			 filePattern="${APP_LOG_ROOT}/app-info-%d{yyyy-MM-dd}-%i.log" >
	<LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
	<PatternLayout pattern="${LOG_PATTERN}"/>
	<Policies>
		<SizeBasedTriggeringPolicy size="19500KB" />
	</Policies>
	<DefaultRolloverStrategy max="10"/>
</RollingFile>

<RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/app-error.log"
			 filePattern="${APP_LOG_ROOT}/app-error-%d{yyyy-MM-dd}-%i.log" >
	<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
	<PatternLayout pattern="${LOG_PATTERN}"/>
	<Policies>
		<SizeBasedTriggeringPolicy size="19500KB" />
	</Policies>
	<DefaultRolloverStrategy max="10"/>
</RollingFile>

<RollingFile name="perfLog" fileName="${APP_LOG_ROOT}/app-perf.log"
			 filePattern="${APP_LOG_ROOT}/app-perf-%d{yyyy-MM-dd}-%i.log" >
	<PatternLayout pattern="${LOG_PATTERN}"/>
	<Policies>
		<SizeBasedTriggeringPolicy size="19500KB" />
	</Policies>
	<DefaultRolloverStrategy max="1"/>
</RollingFile>

<RollingFile name="traceLog" fileName="${APP_LOG_ROOT}/app-trace.log"
			 filePattern="${APP_LOG_ROOT}/app-trace-%d{yyyy-MM-dd}-%i.log" >
	<PatternLayout pattern="${LOG_PATTERN}"/>
	<Policies>
		<SizeBasedTriggeringPolicy size="19500KB" />
	</Policies>
	<DefaultRolloverStrategy max="1"/>
</RollingFile>

</Appenders>

<Loggers>

<Logger name="com.howtodoinjava.app.somePackage" additivity="false" level="trace">
	<AppenderRef ref="traceLog" />
	<AppenderRef ref="Console" />
</Logger>

<Logger name="com.howtodoinjava.app" additivity="false" level="debug">
	<AppenderRef ref="debugLog" />
	<AppenderRef ref="infoLog"  />
	<AppenderRef ref="errorLog" />
	<AppenderRef ref="Console"  />
</Logger>

<Logger name="org.framework.package" additivity="false" level="info">
	<AppenderRef ref="perfLog" />
	<AppenderRef ref="Console"/>
</Logger>

<Root level="warn">
	<AppenderRef ref="Console"/>
</Root>

</Loggers>

</Configuration>

-->
